## You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item. 
 list1 = [5, 10, 15, 20, 25, 50, 20]  output: [5, 10, 15, 200, 25, 50, 20]

In [7]:
list1 = [5, 10, 15, 20, 25, 50, 20] 
for i in range(len(list1)):
    if list1[i] == 20 :
        list1[i] = 200 
        break
list1

[5, 10, 15, 200, 25, 50, 20]

In [6]:
list1 = [5, 10, 15, 20, 25, 50, 20]   
for i in list1:
    if i == 20 :
        i = 200 
        break
list1               # indexli yapmayinca butun 20 leri cevirir

[5, 10, 15, 20, 25, 50, 20]

In [8]:
list1 = [5, 10, 15, 20, 25, 50, 20]
index = list1.index(20)
list1 = list1[:index] + [200] + list1[index+1:]
list1

[5, 10, 15, 200, 25, 50, 20]

In [10]:
list1 = [5, 10, 15, 20, 25, 50, 20]
list1 = str(list1).replace("20", "200", 1)
eval(list1)

[5, 10, 15, 200, 25, 50, 20]

## write a code that sorts a tuple of tuples by 2nd item (number sorting).
example--- my_tuple = (('a', 23),('b', 37),('c', 11), ('d',29))
output----------(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [1]:
my_tuple = (('a', 23),('b', 37),('c', 11), ('d',29))
sorted_tuple = sorted(my_tuple, key=lambda item: item[1])
sorted_tuple

[('c', 11), ('a', 23), ('d', 29), ('b', 37)]

In [2]:
my_tuple = (('a', 23),('b', 37),('c', 11), ('d',29))
sorted_tuple = sorted(my_tuple, key=lambda x: x[1])
sorted_tuple

[('c', 11), ('a', 23), ('d', 29), ('b', 37)]

## Write a code to reverse keys-values in a dictionary?
{'A': 65, 'B': 66, 'C': 67, 'D': 68}---------------------------Ã  {65: 'A', 66: 'B', 67: 'C', 68: 'D'}

In [5]:
dict_1= {'A': 65, 'B': 66, 'C': 67, 'D': 68}
values = list (dict_1.keys())
keys = list(dict_1.values())
new_dict = dict(zip(keys,values))
new_dict

{65: 'A', 66: 'B', 67: 'C', 68: 'D'}

In [9]:
dict_2= {'A': 65, 'B': 66, 'C': 67, 'D': 68}
new_dict = dict(zip(dict_2.values(),dict_2.keys()))
new_dict

{65: 'A', 66: 'B', 67: 'C', 68: 'D'}

In [10]:
dict1 = {"A": 65, "B": 66, "C": 67, "D":68}
rev_dict= {value : key for (key, value) in dict1.items()}
print(rev_dict)

{65: 'A', 66: 'B', 67: 'C', 68: 'D'}

In [11]:
dict1 = {"A": 65, "B": 66, "C": 67, "D":68}
new_dict = {value: key for key, value in dict1.items()}
print(new_dict)

{65: 'A', 66: 'B', 67: 'C', 68: 'D'}

## DF'i renklendirme

In [3]:
import pandas as pd
import numpy as np

def color_df(val) :
    color = 'blue' if val < 0 else 'green'
    return 'color: %s' % color

df = pd.DataFrame(np.random.randn(4, 4))
df.style.applymap(color_df)